<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <%- include('layouts/headers.ejs') %>
    <div class="container">
        <h1>User Profile</h1>

        <div class="profile-info">
            <h2>Profile Information</h2>
            <p><strong>Username:</strong> <%=user.username%></p>
            <p><strong>Email:</strong> <%=user.email%></p>
            <p><strong>Member Since:</strong><%=member%></p>
            <img id="profileImage" src="<%=user.image%>" alt="profile" width="100px" height="100px">
        </div>
        <h2>Actions</h2>
        <div class="option">
            <button><a href="/changePassword">Change Password</a></button>
        </div>
        
        <div class="option">
            <button><a href="/changeProfile">Change Profile Image</a></button>
        </div>

        <div class="option">
            <button><a href="/changeUsername">Change Username</a></button>
        </div>
    </div>
</body>
</html>

